.flows.json.backup
[
    {
        "id": "sensor_tab",
        "type": "tab",
        "label": "Sensor Dashboard",
        "disabled": false,
        "info": "실시간 센서 데이터 대시보드"
    },
    {
        "id": "6dea0da0de668686",
        "type": "tab",
        "label": "Sensor Dashboard",
        "disabled": false,
        "info": "실시간 센서 데이터 대시보드"
    },
    {
        "id": "mysql_config",
        "type": "MySQLdatabase",
        "name": "sensor_db",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "sensor_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "dashboard_tab_ui",
        "type": "ui_tab",
        "name": "센서 대시보드",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "센서 모니터링",
        "tab": "dashboard_tab_ui",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "724fed2ca1609c64",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "inject_timer",
        "type": "inject",
        "z": "sensor_tab",
        "name": "2초 타이머",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "inject_query"
            ]
        ]
    },
    {
        "id": "mysql_query",
        "type": "mysql",
        "z": "sensor_tab",
        "mydb": "mysql_config",
        "name": "sensor_data 조회",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "parse_result"
            ]
        ]
    },
    {
        "id": "parse_result",
        "type": "function",
        "z": "sensor_tab",
        "name": "데이터 파싱",
        "func": "// MySQL 결과 파싱 및 차트/게이지/텍스트 메시지 생성\nvar rows = msg.payload;\nif (!Array.isArray(rows) || rows.length === 0) {\n    return null;\n}\n\n// 최신값\nvar latest = rows[0].value;\n\n// 차트용: [{x: timestamp, y: value}, ...] (최신이 앞에 있으므로 reverse)\nvar chartData = rows.slice().reverse().map(function(row) {\n    return { x: new Date(row.timestamp).getTime(), y: row.value };\n});\n\nvar msgChart = {\n    payload: [{ series: ['센서값'], data: [chartData], labels: [''] }],\n    topic: 'sensor'\n};\n\nvar msgGauge = { payload: latest };\nvar msgText  = { payload: '현재값: ' + latest.toFixed(2) };\n\nreturn [msgChart, msgGauge, msgText];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "ui_chart"
            ],
            [
                "ui_gauge"
            ],
            [
                "ui_text"
            ]
        ]
    },
    {
        "id": "ui_chart",
        "type": "ui_chart",
        "z": "sensor_tab",
        "name": "실시간 라인 차트",
        "group": "dashboard_group",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "센서 실시간 데이터",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "데이터 없음",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 770,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_gauge",
        "type": "ui_gauge",
        "z": "sensor_tab",
        "name": "현재값 게이지",
        "group": "dashboard_group",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "현재 센서값",
        "label": "",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 770,
        "y": 130,
        "wires": []
    },
    {
        "id": "ui_text",
        "type": "ui_text",
        "z": "sensor_tab",
        "group": "dashboard_group",
        "order": 3,
        "width": 6,
        "height": 2,
        "name": "현재값 텍스트",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "catch_error",
        "type": "catch",
        "z": "sensor_tab",
        "name": "오류 처리",
        "scope": null,
        "uncaught": false,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "debug_error"
            ]
        ]
    },
    {
        "id": "debug_error",
        "type": "debug",
        "z": "sensor_tab",
        "name": "오류 디버그",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 220,
        "wires": []
    },
    {
        "id": "inject_query",
        "type": "template",
        "z": "sensor_tab",
        "name": "SQL 쿼리",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT value, timestamp FROM sensor_data ORDER BY id DESC LIMIT 10",
        "output": "str",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "mysql_query"
            ]
        ]
    },
    {
        "id": "4a349e7c94022fbb",
        "type": "inject",
        "z": "6dea0da0de668686",
        "name": "2초 타이머",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "b7c61a0e8db64f5e"
            ]
        ]
    },
    {
        "id": "b9e22d47b515d495",
        "type": "mysql",
        "z": "6dea0da0de668686",
        "mydb": "mysql_config",
        "name": "sensor_data 조회",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "492870fbc3946ad4"
            ]
        ]
    },
    {
        "id": "492870fbc3946ad4",
        "type": "function",
        "z": "6dea0da0de668686",
        "name": "데이터 파싱",
        "func": "// MySQL 결과 파싱 및 차트/게이지/텍스트 메시지 생성\nvar rows = msg.payload;\nif (!Array.isArray(rows) || rows.length === 0) {\n    return null;\n}\n\n// 최신값\nvar latest = rows[0].value;\n\n// 차트용: [{x: timestamp, y: value}, ...] (최신이 앞에 있으므로 reverse)\nvar chartData = rows.slice().reverse().map(function(row) {\n    return { x: new Date(row.timestamp).getTime(), y: row.value };\n});\n\nvar msgChart = {\n    payload: [{ series: ['센서값'], data: [chartData], labels: [''] }],\n    topic: 'sensor'\n};\n\nvar msgGauge = { payload: latest };\nvar msgText  = { payload: '현재값: ' + latest.toFixed(2) };\n\nreturn [msgChart, msgGauge, msgText];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "bc3b89c50c9e56f0"
            ],
            [
                "642ee68d9424b1c3"
            ],
            [
                "2190368ad90418c0"
            ]
        ]
    },
    {
        "id": "bc3b89c50c9e56f0",
        "type": "ui_chart",
        "z": "6dea0da0de668686",
        "name": "실시간 라인 차트",
        "group": "dashboard_group",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "센서 실시간 데이터",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "데이터 없음",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 770,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "642ee68d9424b1c3",
        "type": "ui_gauge",
        "z": "6dea0da0de668686",
        "name": "현재값 게이지",
        "group": "dashboard_group",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "현재 센서값",
        "label": "",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "33",
        "seg2": "66",
        "x": 770,
        "y": 130,
        "wires": []
    },
    {
        "id": "2190368ad90418c0",
        "type": "ui_text",
        "z": "6dea0da0de668686",
        "group": "dashboard_group",
        "order": 3,
        "width": 6,
        "height": 2,
        "name": "현재값 텍스트",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "eae2316b332b4afa",
        "type": "catch",
        "z": "6dea0da0de668686",
        "name": "오류 처리",
        "scope": null,
        "uncaught": false,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "26eae010761f9a20"
            ]
        ]
    },
    {
        "id": "26eae010761f9a20",
        "type": "debug",
        "z": "6dea0da0de668686",
        "name": "오류 디버그",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 220,
        "wires": []
    },
    {
        "id": "b7c61a0e8db64f5e",
        "type": "template",
        "z": "6dea0da0de668686",
        "name": "SQL 쿼리",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT value, timestamp FROM sensor_data ORDER BY id DESC LIMIT 10",
        "output": "str",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "b9e22d47b515d495"
            ]
        ]
    }
]